Source: gpsbabel
Section: utils
Priority: extra
Maintainer: Marc Poulhiès <dkm@kataplop.net>
Build-Depends: cdbs, debhelper (>= 7), autotools-dev, python-dev (>=2.5)
Standards-Version: 3.8.1
Homepage: http://github.com/dkm/gpsbabel-python-filter/

Package: gpsbabel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: GPS file conversion plus transfer to/from GPS units
 GPSBabel converts waypoints, tracks, and routes from one format to
 another, whether that format is a common mapping format like Delorme,
 Streets and Trips, or even a serial upload or download to a GPS unit
 such as those from Garmin and Magellan.
 .
 GPSBabel supports dozens of data formats and will be useful for tasks
 such as geocaching, mapping, and converting from one GPS unit to another.
 Among the interesting formats it supports are several GPS devices via
 a serial link, various PDA-based mapping programs, and various
 Geocaching data formats.
 .
 Among others GPSBabel supports the following formats:
 .
 Cetus, CoPilot Flight Planner, CSV, Custom CSV, Delorme Street Atlas,
 Delorme Street Atlas 2004 Plus, Delorms GPS Log, Delorme routes,
 DNA, EasyGPS Binary, Fugawi, Garmin serial, Geocaching.com loc,
 GeocachingDB, Geoniche, GPilotS, GPSDrive, GPSman, GPSPilot,
 gpsutil, GPX, Holux, IGC, Magellan serial, Magellan SD,
 Magellan Navigator Companion, Mapopolis.Com Mapconverter, Mapsend,
 Mapsource, Maptech, Microsoft Streets and Trips, Navicache,
 Netstumbler, NIMA/GNIS Geographic Names, NMEA sentences, OziExplorer,
 PalmDoc, PCX5, PocketStreets 2002 Pushpin, PSITrex, Quovadis,
 Tab-separated data, Tiger, TopoMapPro, Topo by National Geographic,
 xcsv, xmap, xmapwpt.
